body {
    margin: 0;
}

h1 {
    color: #545457;
    font-size: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
    font-family: sans-serif;
}

button {
    display: block;
    font-size: 20px;
    margin: 30px, 0;
    text-align: center;
    padding: 15px 30px;
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
}


/* NAVIGATION */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
}

header img {
    max-height: 60px;
    margin: 10px;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    text-decoration: none;
    color: grey;
    border-bottom: solid 2px grey;
}


/* NAVIGATION */


/* HEADER */

#header-banner {
    background-image: url("./images/header.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 150px 10%;
}


/* buradan sonra span css yukarıda verildi */

callToAct {
    font-style: italic;
    font-weight: 200;
    font-size: 25px;
    color: 545454;
}

#header-banner button {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-top: 200px;
    margin-left: -100px;
    background: black;
    color: white;
    border: solid 2px black;
}

#header-banner button:hover {
    background: white;
    color: black;
    border: solid 2px white;
}


/* HEADER */


/*QUICK LINKS*/

.quicklinks {
    display: flex;
    width: 60;
    margin: 0 20%;
}

.block {
    position: relative;
    top: -60px;
    text-align: center;
    margin: 0 1%;
    background: white;
    box-shadow: 0 10px 10px black;
    padding: 50px 20px;
}