* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    /* justify-content: flex-start; baştan sıralar*/
    /* justify-content: flex-end; sona sıralar */
    /* justify-content: center; ortalar */
    /* justify-content: space-between; aralarında eşit mesafe bırakır */
    /* justify-content: space-around sağ ve soldaki boşluklar yarısı; */
    /* justify-content: space-evenly; eşit boşluklar verecektir */
    justify-content: flex-start;
    /* align-items: stretch; */
    /* align-items: center tam ortalar; */
    /* align-items: flex-start; en başa alır */
    /* align-items: flex-end; en alta alır. */
    height: 600px;
    background: black;
}

.box {
    text-align: center;
    background: #f2f2f2;
    width: 200px;
    border: 1px solid black;
}